
:root {
        --font-heading: 'Inter', sans-serif;
        --font-body: 'Montserrat', sans-serif;
         /* Primary Color */
  --color-primary: #483D8B;
  --color-primary-light: #6A63C6;
  --color-primary-dark: #2F2A6B;

  /* Accent Colors */
  --color-accent-coral: #FF6F61;
  --color-accent-teal: #4DB6AC;

  /* Neutral Colors */
  --color-neutral-light: #F5F5F5;
  --color-neutral-medium: #B0B0B0;
  --color-neutral-dark: #212121;

  /* Gradients */
  --gradient-primary: linear-gradient(135deg, var(--color-primary-dark), var(--color-primary), var(--color-primary-light));
  --gradient-accent: linear-gradient(135deg, var(--color-primary), var(--color-accent-teal));
      }

body{
        font-family: "Helvetica"  var(--font-body);
        margin: 0px;
        padding: 0px;
        line-height: 1.6em;
        background-color: rgb(245,245,255);
        color: var(--color-neutral-dark);
}
h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 600;
        color: var(--color-primary-dark);
      }
 primary));
}

/* Links */
a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-light);
}

.alert{
        display: block;
        width: 80%;
        min-height: 50px;
        line-height: 50px;
        margin: auto;
        padding: 5px;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: bold;
        backdrop-filter: blur(16px);
}
.alert-info{
        color: #fff;
        border-color: rgba(255,117,80,1);
        background-color: rgba(255,117,80,0.4);
        
}
.alert-danger{
        color: red;
        border-color: red;
        background-color: rgba(255,0,0,0.4);
  color: #fff;
}
 @keyframes popup{
  from{
    top: -10px;
    opacity: 0;
  }
  to{
    top: 40px;
    opacity: 1;
  }
}
.popup{
  position: fixed;
  left: 10%;
  right:10%;
  top: 40px;
  z-index: 999999999999;
  animation-name: popup;
  animation-delay: 1.2s;
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

main{
  margin: 0px;
  padding-top: 15%;
}
footer{
  width: 100%;
  min-height: 20vh; 
  margin: auto;
  margin-top: 100px;
  overflow: hidden;
  background-color: #333;
}
.copyrt{
  text-align: center;
  color: #ccc;
  font-size: 14px;
}
footer ul{
  list-style-type: none;
  font-size: 14px;
  padding-left: 40px;
  color: #eee;
  font-family: var(--font-body);
  font-weight: 300;
}