
.top-section{
  width: 90%;
  margin: auto;
  min-height: 250px;
}
.product-section{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
  gap: 0;
  width: 90%;
  height: 250px;
  margin: auto;
  margin-bottom: 60px;
  border: solid 0.5px #222;
}
.product-card{
  border: solid 0.5px #222;
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 0;
}

.product-card img{
  width: 100%;
  height: 150px;
  margin: 10px;
}
.product-info p,{
  font-size: 18px;
  font-weight: 450;
  padding-left: 20px;
}

.product-info a{
  display: inline-block;
  width: 50%;
  height: 18px;
  line-height: 18px;
  text-align: center;
  margin: auto;
  border-style: none;
  border-radius: 25px;
  background-color: #483d68;
  color: #fff;
}

.cta {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
}
.cta .btn{
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
  border-style: none;
  border-radius: 25px;
  height: 3em;
  font-size: 16px;
  font-weight: 450;
  color: #222;
}
.cta .delete-product-btn{
  background-color: rgb(255,60,60);
  color: #fff;
}

