asgiref==3.8.1
charset-normalizer==3.4.3
crispy-bootstrap4==2024.10
Django==5.2
django-crispy-forms==2.3
djangorestframework==3.16.1
packaging==24.2
pillow==11.3.0
reportlab==4.4.3
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.2
python-dotenv==1.2.1
requests==2.32.5
