h2{
  text-align: center;
  font-size: 32px;
  text-shadow: 0 0 2px #ccc;
}
.kard{
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  border-style: solid;
  border-color: #777;
}
.kard h3{
  padding: 5px;
  margin-left: 10px;
  font-size: 18px;
}
.kard h4{
  font-size: 17px;
  padding: 5px;
  margin-left: 10px;
}
.field{
  margin: auto;
  margin-bottom: 10px;
  padding: 5px;
  word-break: keep-all;
  overflow: scroll;
  width: 90%;
  height: 1.8em;
  line-height: 1.8em;
  font-size: 16px;
  border-style: solid;
  border-radius: 15px;
  border-color: #444;
  background-color: #eee; 
}
.label{
  font-size: 17px;
  font-weight: bold;
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.a-btn{
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  width: 50%;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  margin: 10px;
  padding-bottom: 8px;
  text-align: center;
  border-radius: 15px;
  background-color: darkslateblue;
}
