#message{
  padding: 20px;
  display: block;
  width: 80vw;
  height: 30vh;
  border-style: none;
  border-radius: 10px;
  background-color: #ffe;
  margin: auto;
}
#message p{
  text-align: center;
  font-size: 20px;
}
#message a{
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  text-decoration: none;
  color: coral;
  text-align: center;
}
