body{
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  font-family: serif,Arial, Helvetica, sans-serif;
  line-height: 1.6em;
}
.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
  border: solid 1px #fff;
}
main{
  margin: 10px;
  padding-top: 20vh;
}
footer{
  width: 100%;
  min-height: 20vh; 
  margin: auto;
  overflow: hidden;
  background-color: #333;
}
.copyrt{
  text-align: center;
  color: #ccc;
  font-size: 14px;
}
footer ul{
  list-style-type: none;
  font-size: 14px;
  padding-left: 40px;
  color: #eee;
}
