header{
  min-height: 20vh; 
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(10,20,120,0.4);
  z-index: 2000;
}
#head{
  background-color: #483d8b;
}
.cont{
  width: 100%;
  margin: auto;
  overflow: hidden;
}

#brand-name{
  margin-left: 10px;
  color: #fff;
  font-family: courier;
  float: left;
  width: 30%;
}
#brand-name a{
  text-decoration: none;
  color: #fff;
}
#page-name{
  /* change identifier to class*/
  font-family: serif;
  font-size: 5rem;
  text-align: center;
  color: bisque;
  margin-bottom: 0;
}
.navbar{
  color: #333;
  float: right;
  width: 60%;
}
.navbar ul{
  font-family: courier;
  font-weight: bold;
  list-style: none;
  float:  left;
}
 

.navbar ul li{
  display: inline-block;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding-right: 15px;
}
.active-link{
  color: lightblue;
}
.shot, .menuicon{
  border-radius: 50%;
  border-style: none;
  border-width: 1px;
  border-color: #fff;
  width: 40px;
  height: 40px;
  color: #fff;
  padding: 2px;
  margin: 2px;
}
.shot-cont{
  float: right;
}

.shot-link{
  text-decoration: none;
}
.menuicon{
  display: none;
  margin: 3px;
}
.not,.shot{
  display: inline-block;
}
.notification-dot{
    position: relative;
    bottom:100%;
    right: 30%;
    display: none;
    border-radius: 50%;
    width: 15px;
    height:15px;
    background-color: red;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

#search-cont{
  margin: auto;
  margin-top: 35px;
  margin-bottom: 10px;
  width: 95%;
  height: 32px;
  border-radius: 10px;
  border-style: none;
  border-radius: 10px;
}
#search-box{
  margin: 0px;
  width: 100%;
  height: 100%;
  line-height: 32px;
  font-size: 16px;
  border-style: none;
  border-radius: 15px;
  background-color: #fff;
}

#search-box::placeholder{
  color: #444;
  line-height: 32px;
  font-size: 14px;
}
#search-box:focus{
  outline-color: darkslateblue;
  
}
#search-cont img{
  display: inline;
  position: relative;
  bottom: 100%; 
  left: 95%;
  z-index: 999999;
  border-style: none;
  width: 22px;
  height: 22px;
  color: #fff;
  padding: 0px;
  margin: 0px;
}
#search-result-section-cont{
  z-index: 9999;
  background-color: #fff;
  width: 100%;
  height: 80vh;
  border:solid;
  position: fixed;
  top: 20vh;
  display: none;
  overflow-y: scroll;
}
.search-result-item a{
  display: block;
  width: 100%;
  height: 100%;
  line-break: 100%;
  padding-left: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

#close-search-btn{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 32px;
  height: 32px;
  background-image: url("/media/images/close.png");
  background-size: contain;
  border: none;
}
.search-header h3{
  padding-left: 10px;
}
.search-result-item{
  width:100%;
  height: 60px;
  border-bottom-style: solid;
  border-width: 0.5px;
}
.btn-cont{
  position: relative;
  left:55%;
}

.btn{
  display: inline-block;
  height: 30px;
  width: 60px;
  line-height: 30px;
  padding: 5px;
  margin: 5px;
  border-style: none;
  border-radius: 15px;
  text-align: center;
}
.btn-register{
  background: linear-gradient(135deg,#ff6f61,#6a53c6,#2f2a6b);
  color: #eee;
}

/* Mobile Styles */
@media screen and (max-width:600px){
    .navbar ul{
      font-weight: bold;
      position: fixed;
      top: 8vh;
      left:0;
      height: 100vh;
      display: none;
      list-style: none;
      background-color: rgba(255,255,255,0.5);
      backdrop-filter: blur(6px);
      border-style: none;
      border-radius: 2.5px;
      border-left: none;
      z-index: 3000;
      animation-name: slide-out;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
}
  @keyframes slide-out{
    from{
      width: 0%;
    }
    to{
      width: 60%; 
    }
  }
  @keyframes slide-in{
    from{
      width: 60%;
    }
    to{
      width: 0%; 
    }
  }
.navbar ul li{
  display: block;
  padding: 10px;
}
.navbar ul li a{
  text-decoration: none;
  color: #333; /*rgba(10,20,120,0.6);*/
  font-size: 20px;
}
  #brand-name{
  font-size: 20px;
}
  .shot, .menuicon{
    width:24px;
    height: 24px;
  }
  
  .menuicon{
    display: inline-block;
    position: relative;
    right: 0;
  }
  .not{
    display: inline-block;
    height: 24px;
  }
  #search-cont img{
    left: 92%;
  }
}
/* Desktop Styles */
@media screen and (min-width: 700px){
 #search-cont{
   margin: auto;
   margin-top: 5px;
   margin-bottom: 5px;
   width: 50%;
   height: 32px;
}
.not{
    display: inline-block;
    height: 40px;
  }
}

