/* Style Rules for the utils script components */

.modal{
  position: fixed;
  top: 35vh;
  bottom: 35vh;
  right:10vw;
  left: 10vw;
  width: 80vw;
  height: 30vh;
  background-color: #fff;
  z-index: 99999;
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px #ccc;
}
.modal-head{
  background-color: #ccc;
  width: 100%;
  height: 20%;
  
}
.modal-body{
  width: 100%;
  height: 90%;
}
.modal-text{
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.modal-close-btn{
  position: absolute;
  right: 0px;
  width: 40%;
  height: 20%;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #ff2222;
  border-style: none;
  border-radius: 5px;
}
