.container{
  width:98%;
  margin: auto;
  overflow: hidden;
}

.product-container{
  width:90%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0 0 2px 2px #ccc;
}
.product-image{
  width:100%;
  height: 40%;
}
.product-units-left{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  display: inline-block;
  width: 60px;
  height:30px;
  border-style: none;
  border-radius: 10px 10px 10px 0px;
  background-color: #777;
  color: #fff;
  text-shadow: 0 0 5px coral;
}
 
.add-to-cart-btn{
  background-image: url("/media/images/icons/cart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: coral;
  color: #fff;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #fff;
  font-size: 20px;
  font-weight: bold;
  display: block;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 3em;
  margin: auto;
  padding: 5px;
}
.add-to-cart-btn:hover{
  border-style: solid;
  border-color: darkslateblue;
}
.label{
  font-size: 16px;
  font-weight: bold;
  /*margin-left: 10px;*/
}

/* Desktop styles below */
@media screen and (min-width:700px){
  .product-image{
  width:100%;
  height: 100vh;
}
}