.container{
  width:98%;
  margin: auto;
  overflow: hidden;
}

.product-container{
  width:90%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0 0 2px 2px #ccc;
}
.product-image{
  width:100%;
  height: 40%;
}
.add-to-cart-btn{
  width: 50%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  border-style: none;
  border-radius: 15px;
  color: #fff;
  background-color: coral;
  background-image: url("/media/images/icons/cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.add-to-cart-btn:hover{
  border-style: solid;
  border-color: darkslateblue;
}
.label{
  font-size: 16px;
  font-weight: bold;
  /*margin-left: 10px;*/
}
