
@keyframes ups {
  from{
    opacity: 0;
    top: -50vh;
  }
  to{
    opacity: 1;
    top: 0px;
  }
}
.auth-form{
  position: relative;
  width: 90%;
  margin: auto;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  line-height: 1.6em;
  border-width : 0px;
  border-radius: 5px;
  background-color: #fff;
}
.slidedown{
  animation-name: ups;
  animation-duration: 1.2s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}
.auth-form input{
  font-size: 16px;
  display: block;
  height: 40px;
  line-height: 40px;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 8;
  box-sizing: border-box;
  border-radius: 15px;
  border-width: 1px;
  border-color: #222;
  background-color: #fff;
}
.auth-form input:focus{
   outline-color: darkslateblue;
}
.auth-form input::placeholder{
  color: #333;
  font-size: 14px;
  padding-left: 10px;
}
.auth-form button, .auth-form a{
  display: block;
  width: 90%;
  box-sizing: border-box;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  border-style: solid;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
}
.auth-form button{
  background-color: darkslateblue;
  color: #fff;
  border-style: none;
}
.auth-form a{
  text-decoration: none;
  background-color: #fff;
  color: darkslateblue;
  border-style: none;
}
.auth-form p{
  text-align: center;
}
.auth-form label{
  display: block;
  margin-left: 10%;
}

@keyframes pop{
  from{
    font-size: 12px;
  }
  to{
    font-size: 40px;
  }
}
.form-heading{
  text-align: center;
  font-size: 40px;
  color: #333;
  animation-name: pop;
  animation-duration: 1.2s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}
.form-heading span{
  color:#6a63c6;
}


#login-form label{
  visibility: hidden;
}
.invalid-feedback{
  color: red;
  margin-left: 10%;
  font-size: 14px;
}
/* Profile style Rules */
#profile-picture{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border-style: solid;
  border-color: darkslateblue;
  padding: 2px;
  border-width: 5px;
  display: block;
  margin: auto;
}
#username{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* notification rules */
.notification-ul{
  margin: auto;
  padding: 0px;
  width: 98%;
  height: 100%;
  background-color: none;
}
.notification-list-item{
  width: 100%;
  height: 60px;
  border-style: none;
  border-radius: 10px;
  list-style-type: none;
  padding: 0px;
  margin-bottom: 10px;
  background-color: rgba(255,255,255,0.8);
}
.notification-list-item-link{
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 2px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.new-notification{
  background-color: #efebfe;
}