.auth-form{
  width: 90%;
  margin: auto;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  line-height: 1.6em;
  border-width : 0px;
  border-radius: 5px;
  box-shadow: 0 0 3px 2px #ccc;
  background-color: #fff;
}
.auth-form input{
  font-size: 16px;
  display: block;
  height: 40px;
  line-height: 40px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 8;
  box-sizing: border-box;
}
.auth-form input:focus{
   outline-color: darkslateblue;
}
.auth-form button, .auth-form a{
  display: block;
  width: 80%;
  box-sizing: border-box;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  border-style: solid;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}
.auth-form button{
  background-color: darkslateblue;
  color: #fff;
  border-style: none;
}
.auth-form a{
  text-decoration: none;
  background-color: #fff;
  color: darkslateblue;
}
.auth-form p{
  text-align: center;
}
.auth-form label{
  display: block;
  margin-left: 10%;
}
h2{
  text-align: center;
  font-size: 32px;
  text-shadow: 0 0 2px #ccc;
}

#login-form label{
  visibility: hidden;
}
.invalid-feedback{
  color: red;
  margin-left: 10%;
  font-size: 14px;
}
/* Profile style Rules */
#profile-picture{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border-style: solid;
  border-color: darkslateblue;
  padding: 2px;
  border-width: 5px;
  display: block;
  margin: auto;
}
#username{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* notification rules */
.notification-ul{
  margin: auto;
  padding: 0px;
  width: 98%;
  height: 100%;
  background-color: #fff;
}
.notification-list-item{
  width: 100%;
  height: 60px;
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px #ccc;
  list-style-type: none;
  padding: 0px;
  margin-bottom: 10px;
}
.notification-list-item-link{
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 2px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.new-notification{
  background-color: #eee;
}