{% extends "base.html" %}
  {% load static %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'customers/css/base.css' %}">
{% endblock styles %}
{% block title %}Login{% endblock title %}
{% block nav %}
<header>
	<h1 id="brand-name"><a href="/">Vendora</a></h1>
</header>
{% endblock %}
{% block content %}
<main>
 	{% if error %}
	<div class="alert alert-danger popup">
			{{ error }}
	</div>
	{% endif %}
	
<form method="POST" action="" class="auth-form slidedown" id="login-form">
			<h2 class="form-heading">Log<span>in</span></h2> 

	{% csrf_token %}
	{{ loginform }}
		<br>
	<br>
	<button type="submit" >Login</button>
	<p> don't have an account?</p>
	<a href="{% url 'customers:signup' %}" >signup here</a>
</form>
	
	</main>
{% endblock content %}
  {% block scripts %}
  <script  src="{% static 'customers/js/confirm_password.js' %}"></script>
 
  {% endblock scripts %}

