{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendora|{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
     <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
     <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
    {% block styles %}
    {% endblock styles %}

</head>
<body>
	{% include 'navbar.html' %}
    <section id="search-result-section">
        
        </div>
    </section>
	{% block content %}

	{% endblock content %}
    
    
    <input hidden id="csrftoken" value="{{csrf_token}}">
    <footer>
        <ul>
            <li>twitter</li>
            <li>facebook</li>
            <li>amazon</li>
        </ul>
        <p class="copyrt">granzularcodex&copy;<span id="year"></span></p>
        
        <script type="text/javascript">
let date = new Date();
document.querySelector("#year").innerHTML = date.getFullYear();
</script>
    </footer>
</body>
{% if user.is_authenticated %}
  <script type="text/javascript" src="{% static 'orders/js/cart.js' %}"></script>
{% endif %}
     <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/search.js' %}"></script>
	{% block scripts %}
	{% endblock scripts %}
   
</html>

