<header>
		<div class="cont" id="head">
			<h1 id="brand-name"><a href="{% url 'store:index' %}">Vendora</a></h1>
<nav class="navbar">
	<ul>
				<li><a href="{% url 'store:index' %}" class="nav-link">store</a></li>
		<li><a href="{% url 'products:categories' %}" class="nav-link" >categories</a></li>
						{% if user.is_authenticated %}
		<li><a href="{% url 'orders:list' 'all' %}" class="nav-link">orders</a></li>
				<li><a class="nav-link" id="btn-logout" href="{% url 'customers:logout' %}">logout</a></li>
				{% endif %}
	</ul>
			<div class="shot-cont">
							<a href="{% url 'orders:cart_view' %}" class="shot-link not"><img class="shot" id="navbar-cart-icon"src="/media/images/icons/cart3.svg"><p id="cart-cnt" class="notification-dot"></p></a>
							
							<a href="{% url 'customers:profile' %}"
										class="shot-link not">
										<img class="shot" id="navbar-headshot"src="/media/images/icons/person.svg"><p class="notification-dot"></p></a>
								<a href="{% url 'customers:notification_list' %}"
										class="shot-link not">
										<img class="shot" id="navbar-bell"src="/media/images/icons/bell.svg"><p class="notification-dot" id="bell-dot"></p></a>
						
					<img class="menuicon" id="menu-icon" src="/media/images/menuicon01.png">
			</div>
			</div>
</nav>
			{% if user.is_authenticated %}
			
			{% else %}
						<div class="btn-cont">
			<a class="btn btn-register" href="{% url 'customers:signup' %}">Register</a>|<a class="btn btn-login" href="{% url 'customers:login' %}">Login</a>
										</div>
			{% endif %}
			
			<div id="search-cont">
				<input placeholder="search for a product" type="text" id="search-box">
				<img id="search-icon" src="/media/images/icons/search.svg">
			</div>
			<section id="search-result-section-cont">
        <div class="search-header">
            
      <h3>Search Results</h3>
            <button id="close-search-btn"></button>
        </div>
            <div class="filter-cont">
                <h5>filter by category</h5>
            			
            						<select id="filter">
            									<option value="all">all</option>
            									{% for category in categories %}
            										<option value="{{category}}">{{category}}</option>
            									{% endfor %}            									
            						</select>
            		
            </div>
						<hr>
        <div id="search-result-section"></div>
    </section>
</header>
