{% if products %}
<section class="product-section">
{% for product in products %}

                  <a href="{{product.get_absolute_url}}" class="product-link">  
<div class="product-card">             
                <img src="{{product.image.url}}" loading="lazy">
                 
<strong class="product-name">{{ product.name|truncatechars:10 }}</strong>
		<p class="product-price">₦{{product.price}}</p>
                
        </div>
                  </a>                         
        {% endfor %}
                
</section>
        {% else %}
        <div class="alert alert-info"> No products Available </div>
        {% endif %}