{% extends "base.html" %}
{% load static humanize %}
{% block title %}product-detail{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'products/css/detail.css' %}">
{% endblock styles %}

{% block content %}
<main>
	
<div class="container">
	<div class="product-container">
			<img class="product-image" src="{{product.image.url}}">
		<p class="label">Name</p>
			<p>{{ product.name }}</p>
		<p class="label">Description</p>
	<p>{{ product.description}}</p>
		<p><b>rating: </b><span>{% if product.get_rating %}{{ product.get_rating }}{% else %} no ratings {% endif %} </span></p>
		<p><b>units left: </b> <span class="product-units-left">{{product.get_quantity_in_inventory}} </span></p>
	<p class="label"><b>price: </b>₦{{product.price|intcomma}}</p> 
</div>
<div id="review-section" class="container">
	<h3>Reviews</h3>
	{% if product_reviews %}
	{% for review in product_reviews %}
<h3 class="reviewer-name">{{ review.customer.user.username }}</h3>
	<p class="review-text">{{ review.text }}</p>
	<p>Rating: {{ review.rating }}</p>

	{% endfor %}
	{% else %}
	No Reviews available
	{% endif %}
</div>
</div>
		<br>
	<button class="add-to-cart-btn" id="{{product.id}}" >add to cart</button>	
</main>
{% endblock content %}

