{% extends "base.html" %}

{% block content %}

<div> 
	<h3>{{ product.name }}</h3>
	<p>{{ product.description}}</p>

	<img style="width:100px;height:100px;" src="{{product.image.url}}">
	<p>Rating: {% if product.get_rating %}{{ product.get_rating }}{% else %} No ratings {% endif %} </p>
	<p>units left: {{product.get_quantity_in_inventory}} </p>
	<p>₦{{product.price}}</p><button>add to cart</button>	

</div>
<div>
	<h3>Reviews</h3>
	{% if product_reviews %}
	{% for review in product_reviews %}

	<h3>{{ review.customer.user.username }}</h3>
	<p>{{ review.text }}</p>
	<p>Rating: {{ review.rating }}</p>

	{% endfor %}
	{% else %}
	<div> No Reviews available </div>
	{% endif %}

</div>
{% endblock content %}
